<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="Fc9Wa9BXvdPNyuJ1FHiZdH-pklg389RJJCVDEx5uGN4" />
  <meta name="keywords" content="严格, 严格 博士, Yan Ge, SJTU, Shanghai Jiao Tong University, Ge Yan, 严格 NTU, 南洋理工大学 严格, Graham Yan, Quantum Computing, Quantum Error Correction">
  <meta name="description" content="严格 (Ge Yan) 的个人主页。目前在南洋理工大学 (NTU) 担任博士后研究员，专注于人工智能与量子计算、量子纠错 (QEC) 的交叉研究。">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">

  {%- seo -%}
  {%- feed_meta -%}

  {%- include custom-head.html -%}
</head>
